*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(214, 216, 218);
}

/* Header */
header{
    background-color: rgb(255, 255, 255);
    height: 100px;
}

#logo{
    width: 70px;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 10px;
    vertical-align: middle;    
}

#title{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}
/* /Header */

/* Main */

