*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(214, 216, 218);
}

/* Header */
header{
    background-color: rgb(255, 255, 255);
    height: 100px;
}

#logo{
    width: 70px;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 10px;
    vertical-align: middle;    
}

#title{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}
/* /Header */

/* Main */

/* Main Top */

.contenitore-top{
    background-color: white;
    width: 100%;
    max-width: 800px;
    height: 70px;
    margin-top: 3em;
    margin: auto;
    border-radius: 5px;
}

.sezione-top{
    padding-top: 20px;
    padding-left: 30px;
}

#bottone1{
    background-color: #47adf1;
    border-color:  #47adf1;
    color: white;
    border-radius: 4px;
    padding: 5px;
}

#bottone2{
    background-color: white;
    color: grey;
    border-color: rgb(214, 216, 218);
    border-radius: 4px;
    padding: 5px;
}

/* /Main Top */



/* Main Principale */

.contenitore-principale{
    background-color: white;
    width:100%;
    max-width:800px;
    margin:auto;
    border-radius: 5px;
    padding-left: 30px;
    padding-top: 20px;
}

ul{
    padding-left: 5px;
    list-style: none;
    padding-bottom: 20px;
}

.evidenziato-blu{
    background-color: #47adf1;
    border-radius: 20px;
    padding: 5px;
    color: white;
    font-size: 12px;
}

.evidenziato-viola{
    background-color: blueviolet;
    border-radius: 20px;
    padding: 5px;
    color: white;
    font-size: 12px;
}

.evidenziato-verde{
    background-color: green;
    border-radius: 20px;
    padding: 5px;
    color: white;
    font-size: 12px;
}

.evidenziato-arancione{
    background-color: orange;
    border-radius: 20px;
    padding: 5px;
    color: white;
    font-size: 12px;
}

.evidenziato-rosa{
    background-color: palevioletred;
    border-radius: 20px;
    padding: 5px;
    color: white;
    font-size: 12px;
}

.evidenziato-giallo{
    background-color: yellowgreen;
    border-radius: 20px;
    padding: 5px;
    color: white;
    font-size: 12px;
}
.check{
    color: green;
    border: solid green 2px;
    border-radius: 60%;
    text-align: center;
    line-height: center;
    padding-left: 4px;
    padding-right: 4px;
    display: inline-block;
}

.cross{
    color: red;
    border: solid red 2px;
    border-radius: 60%;
    text-align: center;
    line-height: center;
    padding-left: 4px;
    padding-right: 4px;
    display: inline-block;
}

li{
    padding-bottom: 10px;
}